{% extends "base.html" %}

{% block content %}


<header class="masthead text-center text-black">
	<a href="{% url 'create-event' %}"> <button>Create An Event</button> </a>
<div class="row">
	{% for x in events %}
	<div class="col-sm-12 col-md-6 col-lg-4">
		<div class="card my-card">
  		  {# <img src="{{x.car_img.url}} alt="car""> #}
  		  <div class="card-body">
	    	  <h5 class="card-title">{{x.title}} - {{x.datetime}}</h5>
	    	  <p class="card-text">{{x.seats}}</p>
		    </div>
		  <ul class="list-group list-group-flush">
			<li class="list-group-item text-center">
				<a href="{% url 'event-detail' x.id %}" class="btn btn-outline-dark">View</a>
			</li>
		   </ul>
	  	  </div>
 		</div>
    {% endfor %}
</div>
</header>

{% endblock content%}