{% extends "base.html" %}

{% block content %}

<div class="card text-center" style="margin:160px">


          <div class="card-header">
           <font size="32" style='font-family:Sofia Pro;font-weight:600;color:#ef4439'>
           Event Details</font>
          </div>


      <div class="card-body">
        <font size="72" style='font-family:Sofia Pro;font-weight:800;color:#ef4439'>{{event.title.title}}</font>
        <h3 class="card-title" style="color: 000034;">At {{event.location.title}}</h3>
        <font  style="color: #3f3f3f;">{{event.date}} on {{event.time}}</font>
        <p class="card-text" style="color: #3f3f3f;">{{event.description}}</p>
        <p class="card-text" style="color: 000034;">
        <a href="{% url 'profile' event.organizer.id %}">By {{event.organizer}}</a>  
        <p>{{event.seats_available}} Seats Available</p>
        </p>



                {%if request.user == event.organizer  %}
                       <a href="{% url 'update-event' event.id %}" class="btn btn-outline-dark">Update</a>
                {%endif%}
                

                {% if event.seats_available > 0 %}


                    <a href="{% url 'book-event' event.id %}" class="btn btn-outline-dark">Book Event</a>
                    {%else%}
                    <a disabled='True' class="btn btn-outline-light">Fully Booked</a>
                    <br>
                    <br>
                    <br>
                    <font size="72" style='font-family:Sofia Pro;font-weight:600;color:red'>FULLY BOOKED</font>

              
                {%endif%}

      </div>
</div>


{%if  request.user == event.organizer %}

            <div class='container text-center'>
                <h1>Attendees</h1>
                    <table class="table table-striped table-dark">
                        
                            <thead>
                              <tr>
                                <th scope="col">Name</th>
                                <th scope="col">Seats</th>
                              </tr>
                            </thead>

                            <tbody>
                                    {%for a in attendance %}
                    
                              <tr>
                                <td>{{a.attendee.username}}</td>
                                <td>{{a.seats_booked}}</td>
                              </tr>

                                    {%endfor%}
                            </tbody>
                     </table>
            </div>

{%endif%}




{% endblock content%}