{% extends "base.html" %}

{% block content %}




	<h1 style='color: white'>Browse Events</h1>
<div class="row m-4">
	{% for x in events %}
	<div class="col-4 mt-4 mb-4 text-center">
		<div class="card my-card">
  		  {# <img src="{{x.car_img.url}} alt="car""> #}
  		  <div class="card-body">
	    	  <h5 class="card-title">{{x.title}} - {{x.date}} - {{x.time}}</h5>
			  <p class="card-text">{{x.seats_available}}</p>
		    </div>
		  <ul class="list-group list-group-flush">
			<li class="list-group-item text-center">
				<a href="{% url 'event-detail' x.id %}" class="btn btn-outline-dark">View</a>
			</li>
		   </ul>
	  	  </div>
 		</div>
    {% endfor %}
</div>


{% endblock content%}