{% extends "base.html" %}

{% block header %}
<header>

<div class="container text-center mb-1">

    <div class="text-center" style='margin-top: 80px'>
      <h1>The door to all your events</h1>
      <br>
      <br>

       
       
        <form action="{% url 'events' %}" method="GET">
              <div class='align-item-center text-center row'>
                  <div class="col-12">
                  <input class="text-center form-control form-control-lg" type="text" name='q' placeholder="Search here..." value="{{request.GET.q}}">
                  </div>

                  <br>
                  <br>
                  <br>

                  <div class="col-12 m-2">
                  <input class="btn btn-primary btn-xl rounded-pill " type="submit" value="Search">

                  <a href="{% url 'events' %}" class="btn btn-primary btn-xl rounded-pill">BROWSE EVENTS</a>
                  </div>

             </div>
        </form>


    </div>


</div>


<br>
<br>


<header class='masthead'>

</header>



{% endblock header%}