{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<header class="mastheadwhite text-center text-white">
  <div class="masthead-content">
    <div class="container">
        <div class="jumbotron" style='background-color:#f7f7f7'>
          <h2 class="masthead-subheading mb-0">Log In</h2>
          <form style='color:#3f3f3f' action="{% url 'login' %}" method="POST">
            {% csrf_token %}
            {{form|crispy}}
            <input class = "btn btn-primary btn-xl rounded-pill mt-5" type="submit" value="Login">
          </form>
      </div>
    </div>
  </div>
</header>
{% endblock %}