{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container text-center col-4" style="margin-top: 7%; background-color: blue">



    <form class='col-12 text-center' style="background-color: green" action="{% url 'update-profile' request.user.id  %}" method="POST" enctype="multipart/form-data">

                  <div class="form-row col-12 text-center" style="background-color: red">

                      {% csrf_token %}
                      <div class="col-12 text-center" style="background-color: yellow">
                         {{form|crispy}}
                
                      <input class="btn btn-secondary btn-xl rounded-pill " type="submit" value="Edit Profile">
                      </div>

                  </div>
                 
    </form>


</div>


 {% endblock content%}

