{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
<div class="container text-center col-4" style="margin-top: 150px">



    <form class='col-12 text-center' action="{% url 'update-profile' request.user.id  %}" method="POST" enctype="multipart/form-data">

                  <div class="form-row col-12 text-center">

                      {% csrf_token %}
                      <div class="col-12 text-center">
                         {{form|crispy}}
                         {{form2|crispy}}

                
                      <input class="btn btn-primary btn-xl rounded-pill " type="submit" value="Edit Profile">
                      </div>

                  </div>
                 
    </form>


</div>


 {% endblock content%}

